params {
    sra_id = null
    reads = null
    reference = null
    outdir = "results"
    conda_env = null
}

profiles {

    local {
        process.executor = 'local'

        conda.enabled = true
        process.conda = params.conda_env   

        process {
            cpus = 2
            memory = '4 GB'
        }
    }

    cluster {
        process.executor = 'slurm'

        conda.enabled = true
        process.conda = "$baseDir/envs/environment.yml"

        process {
            cpus = 8
            memory = '32 GB'
            time = '12h'
        }
    }

    container {
        process.executor = 'local'

        docker.enabled = true
        singularity.enabled = false

        process.container = "your_dockerhub_username/pipeline:latest"

        process {
            cpus = 4
            memory = '8 GB'
        }
    }
}